@font-face {
    font-family: "Minecraftia";
    src: url("fonts/minecraftia.otf") format("opentype");
}

body {
    font-family: "Minecraftia", Fallback, sans-serif;
    background: #333;
    margin: 0;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* container */

container {
    display: block;
    text-align: center;
    margin: 0 auto;

    width: 66%;
}

/* height > width */
@media screen and (min-height: 100vw) { 
    container {
        width: 100%;
    }
}